<p><strong>Hi!</strong></p>
<p>This email was sent in connection with initiating the password reset procedure for the account with the email address:</p>
<br>
<div>
  {{email}}
</div>
<br>

<p>Click on the link below to go to the password reset screen.</p>
<p>{{link}}</p>

<p>The password reset link is active for 30 minutes.</p>
<p>If you have not initiated the password reset procedure, please ignore this message.</p>
